.logo {
  position: fixed;
  top: 50px;
  left: 20px;
  width: 140px;
  height: 47px;
  //background-color: aqua;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link-nav {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 710px;
  height: 50px;
  //background-color: aqua;

  a {
    text-decoration: none;
    font-size: 25px;
    margin-left: 73px;
    font-family: Caveat Reg;
    color: #000;
  }
  button {
    background-color: rgb(255, 217, 114);
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;
    padding: 15px 40px;
    text-align: center;
    border-radius: 20px;
    border: none;
    font-family: Caveat Reg;
    box-shadow: 2px 5px 2px #888888;
  }

  #line {
    text-decoration: underline;
  }
}

nav {
  display: none;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  //background-color: aqua;

  .fas {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px,) and (max-height: 1024px) {
  .link-nav {
    display: none;
  }
  nav {
    display: block;
  }
}
@media screen and (max-width: 360px) and (max-height: 700px) {
  .link-nav {
    display: none;
  }
  nav {
    display: block;
  }
}
